<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bcr6.uow.comp548.application">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdy6D-IvOa00Hx7QcMSTEWZGz7vpBNRPg"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="bcr6.uow.comp548.application.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/application_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".add_friend.AddNewFriend"
            android:label="@string/title_activity_add_new_friend"
            android:parentActivityName="bcr6.uow.comp548.application.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".friend_detail.FriendDetail"
            android:label="@string/title_activity_friend_detail"
            android:launchMode="singleTop"
            android:parentActivityName="bcr6.uow.comp548.application.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".settings.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="bcr6.uow.comp548.application.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bcr6.uow.comp548.application.main.MainActivity"/>
        </activity>

        <activity
            android:name=".edit_friend.EditFriend"
            android:label="@string/title_activity_edit_friend"
            android:parentActivityName="bcr6.uow.comp548.application.friend_detail.FriendDetail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="bcr6.uow.comp548.application.friend_detail.FriendDetail"/>
        </activity>

        <activity android:name=".settings.ImportContacts">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/x-vcard"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".friend_location.FriendLocationDetails"
            android:label="@string/title_activity_friend_location_details">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="bcr6.uow.comp548.application.friend_detail.FriendDetail"/>
        </activity>
        <activity
            android:name=".friend_location.FriendGPSLocationDetails"
            android:label="@string/title_activity_friend_location_details">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="bcr6.uow.comp548.application.friend_detail.FriendDetail"/>
        </activity>
    </application>

</manifest>
